body {
    margin: 0;
    font-family: 'Segoe UI';
    color: #ffffff;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg,#1e3c72,#2a5298,#6dd5ed);
}

.glass {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(18px);
    border-radius: 15px;
    padding: 20px;
}

.auth-box {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}